# global daemon configuration
[Daemon]
# time to sleep main loop in seconds
sleep=10
# print some debug information
debug=false

# devices section

# device with id 0, id is driver dependent value
[Device:0]
# optional device name
name=TEST1
# defines device backend, symbolic names of backends defined in gfcontroller.backends.NAMES
backend=RADEON
# minimal controlled speed in %, daemon never go below
min_speed=40
# limit temperature in °C when daemon starts speed handling
limit_temp=39
# critical temperature in °C when daemon sets speed to 100%
critical_temp=60

#[Device:1]
#name=TEST2
#backend=TEST # test backend, used by test script
#min_speed=40
#limit_temp=39
#critical_temp=60
