# global daemon configuration
[Daemon]
# time to sleep main loop in seconds
sleep=10
# print some debug information
debug=false

# devices section

# device with id 0, id is driver dependent value
[Device:0]
# optional device name
name=TEST1
# defines device backend, symbolic names of backends defined in gfcontroller.backends.NAMES
backend=RADEON
# minimal controlled speed in %, daemon never go below
lowest_speed=40
# highest controlled speed in %, it corresponds to the highest_temp
highest_speed=75
# lower limit of temperature in °C when daemon starts speed handling
lowest_temp=39
# upper limit of temperature in °C, if this limit is exceeded the daemon will set speed to 100%
highest_temp=60

# second device
#[Device:1]
#name=TEST2
#backend=TEST
#lowest_speed=40
#highest_speed=75
#lowest_temp=39
#highest_temp=60

# third device
# ...